#
# Search service properties.
#

solr.hostname=localhost
solr.port=8983
solr.root.path=/solr
solr.index.books=books

search.hostname=localhost
search.port=56814
search.path=service/search
search.maxAgeSeconds=60
search.timeout=5
autocomplete.maxAgeSeconds=60

search.free.queries=free,free book,free books,free ebook,free ebooks
search.name.boost=10
search.content.boost=1
search.ignore.empty.prices=false

logging.perf.threshold.error = 1000
logging.perf.threshold.warn = 250
logging.perf.threshold.info = 100

http.cors.origin=*

search.exact.author.boost=25
search.exact.title.boost=25
